header {
    text-align: center;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    background-color: goldenrod;
}

header img {
    width: 20%;
    height: 20%;
}

header button {
    width: 10%;
    height: 10%;
}

#Primera_Plana {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    height: 100vh;
}

#Div_Snorlax {
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 5;
}

#Snorlax {
    width: 100%;
    height: 100%;
}

#Chichi {
    height: 40%;
    width: auto;
}